DB_HOST=localhost
DB_PORT=3306
DB_NAME=cake_ordering_db
DB_USERNAME=cake_app
DB_PASSWORD=change_me

ADMIN_INITIAL_USERNAME=admin
ADMIN_INITIAL_PASSWORD=change_me

EMAIL_API_PROVIDER=
EMAIL_API_KEY=
EMAIL_SENDER_ADDRESS=